<h2>Choose a Location on Map</h2>
<div>
    Where do you want to go? Choose it on Map.
</div>
<div *ngIf="chosenLocation" class="text-center h3">
    You have selected: <br />
    lat: {{chosenLocation.lat}}, lng: {{chosenLocation.lng}}.
</div>
<div id="mapContainer" class="border">
    <agm-map #agmMap class="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="5" [disableDefaultUI]="false"
        [zoomControl]="true" (mapClick)="mapClicked($event)">
        <agm-marker *ngIf="chosenLocation" [latitude]="chosenLocation.lat" [longitude]="chosenLocation.lng">
        </agm-marker>
    </agm-map>
</div>