/* You can add global styles to this file, and also import other style files */

h2 {
  color: #3333aa;
  font-weight: 400;
}

h3,
.h3 {
  color: #0074d9;
  font-weight: 400;
}

.btn + .btn {
  margin-left: 16px;
}

h4,
.h4 {
  color: #0074d9;
  font-weight: 400;
}
